@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager


<br />

<div >
    <img src="~/images/logoDesign1.png" class="img-rounded" />
</div>

<div class="panel panel-default">
    

    <div class="panel-body">
        <br />
        <h3 class="panel-title">Please sign in to view List</h3>
        <br />
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
                    <input type="hidden" id="txtCurrentUser" name="CurrentUser" value="@UserManager.GetUserId(User)" />
                    <h4><input type="submit" class="btn btn-success" value="Show Plant List" /></h4>
                </form>
            </div>
        </div>
        <br />
        @if (ViewBag.NameList == null)
        {
            <div style="display: block;">
                <table class="table table-striped">
                    <thead class="plantTableHead">
                        <tr class="plantTableHeaderRow">
                            <th><h3 class="panel-title">Name</h3></th>
                            <th><h3 class="panel-title">Location</h3></th>
                            <th><h3 class="panel-title">Planted</h3></th>
                            <th><h3 class="panel-title">Harvest</h3></th>
                        </tr>
                    </thead>
                    <tbody class="plantTable-Body">
                        <tr class="plantTableBodyRow">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        }
        else
        {
            <div style="display: block;">
                <table class="table table-striped">
                    <thead class="plantTableHead">
                        <tr class="plantTableHeaderRow">
                            <th><h3 class="panel-title">Name</h3></th>
                            <th><h3 class="panel-title">Location</h3></th>
                            <th><h3 class="panel-title">Planted</h3></th>
                            <th><h3 class="panel-title">Harvest</h3></th>
                        </tr>
                    </thead>
                    <tbody class="panel-body">
                        <tr>
                            <td>
                                @foreach (var a in ViewBag.NameList)
                                {
                                    <p>@a</p>
                                    <br />

                                }
                            </td>
                            <td>
                                @foreach (var b in ViewBag.LocList)
                                {
                                    <p>@b</p>
                                    <br />

                                }
                            </td>
                            <td>
                                @foreach (var c in ViewBag.InList)
                                {
                                    <p>@c</p>
                                    <br />

                                }
                            </td>
                            <td>
                                @foreach (var d in ViewBag.OutList)
                                {
                                    <p>@d</p>
                                    <br />

                                }
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        }
    </div>
    <div class="panel-footer">
        <p class="panel-footer">Happy Gardening!</p>
    </div>
</div>




